.home {
  // display: flex;
  // align-items: center;
  width: 100%;
  background-image: url('../images/home_bg.png');
  // background-size: 100%;

  @media (max-width: 992px) {
    min-height: 100vh;
  }
  .home-container {
    // text-align: center;
    // padding: 150px 0;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // width: 100%;
    // position: relative;
    // transition: all 1000ms ease;
    // height: 500px;
    text-align: center;
    padding: 150px 0;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    position: relative;
    transition: all 1000ms ease;
    height: 100%;

    @media (max-width: 992px) {
      padding: 236px 0;
    }
    &.expand {
      height: fit-content;
    }

    .main-title-box {
      // transition: all 1s ease;
      // position: absolute;
      // top: 20%;

      transition: all 1s ease;
      position: absolute;
      top: 50%;

      left: 0;
      transform: translate(0%, -50%);
      right: 0;
      margin: auto;
      width: fit-content;
      height: 172px;

      @media (max-width: 992px) {
        top: 100%;
      }
      &.small {
        bottom: initial;

        top: 245px;
        @media (max-width: 1600px) {
          top: 200px;
        }
      }
    }
    .main-title {
      font-size: 46px;
      font-size: 62px;
      font-weight: 600 !important;
      font-style: normal;
      display: flex;
      gap: 10px;
      justify-content: center;
      // width: 610px;

      transition: all 1s ease;
      //   color: #37343d;

      .text {
        > span {
          display: block;
          width: 206px;
        }
        // span {
        //   span {
        //     line-height: 60px;
        //     height: 70px;
        //     display: block;
        //     float: left;
        //     min-width: 16px;
        //   }
        // }
      }
      .highlight {
        // span {
        //   span {
        //     line-height: 60px;
        //     height: 70px;
        //     display: block;
        //     float: left;
        //     min-width: 16px;
        //   }
        // }
      }

      &.small {
        font-size: 46px;

        @media (max-width: 1600px) {
          font-size: 38px;
        }
        .text {
          width: fit-content;
          > span {
            display: block;
            width: fit-content;
          }
        }

        .highlight {
          width: fit-content;
        }
      }

      .text {
        width: 206px;
      }

      .highlight {
        width: 235px;
        font-weight: bolder !important;
        color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: url('../images/abstractgradient.png');
        background-size: 400px 600px;
        -webkit-animation: 90s strife infinite linear;
        animation:
          90s strife infinite linear,
          25s filter-rotate infinite linear;
        @media (max-width: 992px) {
          width: 180px;
        }
        span {
          display: flex;
        }
      }

      @-webkit-keyframes strife {
        0% {
          background-position: 90px 90px;
        }

        100% {
          background-position: -6000px 4000px;
        }
      }

      @keyframes strife {
        0% {
          background-position: 100px 100px;
        }

        100% {
          background-position: -5020px 4196px;
        }
      }

      @-webkit-keyframes filter-rotate {
        0% {
          filter: hue-rotate(0deg);
        }

        50% {
          filter: hue-rotate(-60deg);
        }

        100% {
          filter: hue-rotate(0deg);
        }
      }

      @keyframes filter-rotate {
        0% {
          filter: hue-rotate(0deg);
        }

        50% {
          filter: hue-rotate(-60deg);
        }

        100% {
          filter: hue-rotate(0deg);
        }
      }
    }

    .sub-title {
      font-size: 24px;
      font-weight: 500;
      // width: 610px;
      text-align: center;
      //   color: #37343d;

      transition: all 1s ease;
      &.small {
        font-size: 21px;
        // width: 610px;
        text-align: center;

        @media (max-width: 992px) {
          font-size: 16px;
        }
      }

      span {
        display: flex;
        justify-content: center;
        span {
          display: block;
          min-width: 5px;
        }
      }
    }

    .brain-container {
      margin-top: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      @media (max-width: 1200px) {
        margin-top: 15%;
      }
      .desc-item {
        text-align: left;
        width: 420px;
        .desc-title {
          font-size: 56px;
          font-weight: 700;
          //   color: #46434b;

          @media (max-width: 1600px) {
            font-size: 38px;
          }
        }

        .desc-subtitle {
          font-size: 18px;
          font-weight: 500;
          color: #777085;
        }

        .desc-percentage {
          font-size: 37px;
          font-weight: 700;
          opacity: 0.9;
          color: #344667;
          @media (max-width: 1600px) {
            font-size: 32px;
          }
        }

        &.left {
          text-align: right;
        }
      }

      .brain-image {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        img {
          width: 262px;

          @media (max-width: 1600px) {
            width: 218px;
          }

          @media (max-width: 992px) {
            transform: rotate(90deg) !important;
          }
        }
      }

      @media (max-width: 992px) {
        flex-direction: column;
        .desc-item {
          text-align: center;
          &.left {
            text-align: center;
          }
        }
      }
    }

    .skills {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 80px;
      font-size: 28px;

      @media (max-width: 1600px) {
        font-size: 20px;
      }
      span {
        font-weight: 600;
        &.skill-type {
          font-weight: 700;
          color: #f40a5c;
          width: 70px;

          .skill-set {
            position: relative;
            .skill {
              position: absolute;
              width: fit-content;
            }
          }
        }
      }
    }

    .social-icons {
      display: flex;
      justify-content: center;
      gap: 14px;
      margin-top: 3%;
      .social-icon {
        width: 24px;
        height: 24px;
        font-size: 20px;
        background-size: contain;
        transition: transform 0.3s;
        display: flex;
        align-items: center;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 24px;
        &.in {
          background-image: url('../images/social/in.png');
        }
        &.fb {
          background-image: url('../images/social/fb.png');
        }
        &.email {
          background-image: url('../images/social/email.png');
        }
        &.dribble {
          background-image: url('../images/social/dribble.png');
        }
        &.be {
          background-image: url('../images/social/be.png');
        }
        &:hover {
          background-position-y: -24px;
          transform: scale(1.1);
        }
      }
    }
  }
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  // margin-left: 30px;
  // margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
